html,
body
{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

html
{
    overflow-x: hidden;
    overflow-y: overlay;

    height: 100%;

    text-align: center;

    background-color: #cfcfcf;
    background-image: url('../images/bg.jpg');
    background-attachment: fixed;
}

body
{
    position: relative;

    background: rgba(200, 200, 200, .6);
}

::placeholder
{
    color: #d8d8d8;
    font-style: italic;
}
.container
{
    min-height: 75%;
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 130px;
}


.menu
{
    line-height: 3.0em;

    float: left;

    width: 13%;
    height: 93%;

    cursor: pointer;
    -webkit-transition: all .1s ease-in;
       -moz-transition: all .1s ease-in;
         -o-transition: all .1s ease-in;
            transition: all .1s ease-in;

    color: white;
    border-width: 2px;
    border-right-style: solid;
    background-color: black;
}
.menu p {
  font-size:0.9em;
}
.vote:hover:enabled,
.page-button:hover,
.menu:hover
{
    color: black;
    background: #fff;
}
.vote:hover:enabled,
.page-button:hover
{
    outline-width: medium;
    outline-style: outset;
    outline-color: white;
}

.page-button
{
    width: 198px;
    margin-left: 8px;

    outline-width: medium;
    outline-style: outset;
    outline-color: #828282;
}

input[type='submit'],
input[type='button'],
button
{
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;

    -webkit-transition: all .1s ease-in;
       -moz-transition: all .1s ease-in;
         -o-transition: all .1s ease-in;
            transition: all .1s ease-in;

    border: 0;
    background-color: black;
}

button[type='submit']:disabled
{
    outline-width: medium;
    outline-style: outset;
    outline-color: #e2e2e2;
    background-color: gainsboro;
}

nav-first
{
    float: left;

    width: 39%;
}

nav-second
{
    float: left;

    width: 61%;
}

form
{
    margin: 0;
}

.preview
{
    display: table;
    float: left;

    width: 24%;
    margin-bottom: 10px;
    margin-left: 5px;

    text-align: center;
}

.preview img
{
    border-radius: 15px;
    box-shadow: 7px 6px 20px #262424;
}

.preview-single
{
    display: block;

    height: 522px;

    text-align: left;

    align-items: center;
}

.bg
{
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 697px;

    opacity: .9;
    background-repeat: no-repeat;
    background-position: 50% 70px;
    background-size: 630px;
}

.card-frame
{
    float: left;

    text-align: right;

    border-radius: 5%;
    background-color: black;
    box-shadow: 13px 11px 20px #262424;
}

@media screen and (max-width: 950px)
{
    .container
    {
        min-height: 83%;
        margin-top: 30px;
        margin-bottom: 69px;
    }
    .nav
    {
        padding-left: 5px;
    }
    .nav-first
    {
        position: absolute;
        z-index: 1;
        top: 79px;
        right: 0;

        display: grid;
        visibility: hidden;
    }
    .menu
    {
        width: initial;
        padding: 5px;
    }
    .nav-mobile
    {
        display: initial!important;

        width: 12%;
    }
    .page-button
    {
        width: 142px;
    }
    .preview
    {
        width: 48%;
    }
    .bg
    {
        height: 650px;

        background-position: 50% 10px;
    }
    .oracle
    {
        float: left;
    }
    .search
    {
        width: 88%!important;
        margin-left: 0!important;
    }
    .info
    {
        float: left;
    }
    .footer
    {
        position: relative;
    }
}
@media screen and (min-width: 951px min-height: 1000px)
{
    .nav-first
    {
        display: block;
        visibility: visible;
    }
}
@media screen and (max-width: 1262px)
{
    .card-image
    {
        width: 100%!important;
        height: auto!important;
    }
}
@media screen and (max-width: 310px)
{
    .card-image
    {
        width: 244px!important;
    }
    .preview
    {
        display: inline-table!important;
        float: initial;
    }
    .nav-up,
    .nav-bottom
    {
        display: flex!important;
    }
}
.card-frame img
{
    width: 100%;

    border-radius: 27px;
}

.card-name
{
    display: block;
    float: left;

    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 14px;

    color: white;
}

.card-cost
{
    display: block;
    float: left;

    margin: 5px 10px 0 14px;

    color: white;
}

.card-title
{
    display: inline-block;

    width: 100%;
}

.card-type
{
    font-size: 1em;

    margin-right: 10px;
    margin-left: 14px;
    margin-bottom: 0.5rem;

    text-align: left;

    color: white;
}

.oracle
{
    display: table-cell;

    width: 100%;
    margin-top: 14px;
    margin-bottom: 110px;

    border-radius: 0 20px 20px 0;
    background-color: #1b1b1bcc;
}

.oracle-text
{
    line-height: 1.3em!important;

    margin-right: 10px;
    margin-left: 14px;

    white-space: pre-line;
    word-spacing: 2px;

    color: white;
}

p
{
    font-size: 0.75em;

    margin-bottom: .5rem;

    text-align: center;
}

.nav-up,
.nav-bottom
{
    display: inline-flex;

    text-align: center;
}
.nav-up input[type='submit']
{
    float: inherit;
}

.nav-bottom input[type='submit']
{
    float: inherit;
}

.nav-bottom
{
    margin-top: 20px;

    text-align: center;
}

.all-cards
{
    display: inline-table;

    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;

    text-align: center;
}

.nav
{
    height: 58px;

    background-color: black;
    box-shadow: -3px 0 6px black;
}

.footer
{
    display: inline-block;

    width: 100%;
    min-height: 5%;

    background-color: black;
    box-shadow: -3px 0 6px black;
}

.footer p
{
    font-size: .6em;

    margin-top: 8px;

    color: #777;
}

.search
{
    float: left;

    width: 20em;
    height: 51px!important;
    margin-top: 3px;
    margin-left: 5px;
}

.no-results
{
    text-align: center;
}

.card-image
{
    width: 244px;
    height: 340px;

    background-size: cover;
}

.info
{
    width: 100%;
    padding: 35px;
}

.vote
{
    margin-top: 1.5rem;
    margin-left: 8px;

    outline-width: medium;
    outline-style: outset;
    outline-color: #828282;
}

.rank
{
    margin-left: 8px!important;

    outline-width: medium;
    outline-style: outset;
    outline-color: #828282;
}

.rank:hover
{
    cursor: help;
}

.Staple
{
    color: black!important;
    background-color: ffb400!important;
}

.Cubable
{
    background-color: #747474 !important;
}

.Borderline
{
    background-color: #a5672a!important;
}

.Unknown
{
    background-color: black!important;
}
.nav-mobile
{
    display: none;
    float: left;

    margin-top: 12px;

    cursor: pointer;

    color: white;
}
.nav-mobile i
{
    font-size: 2em;
}

.material-icons
{
    vertical-align: -6px!important;
}

.error-container
{
    font: 13px/20px normal Helvetica, Arial, sans-serif;

    height: 10%;
    padding: 40px;

    color: #4f5155;
    border: 1px solid #d0d0d0;
    background-color: white;
    box-shadow: 0 0 8px #d0d0d0;
}

.error-container p
{
    margin: 12px 15px 12px 15px;
}
.error-container h1
{
    font-size: 1.45em;
    font-weight: normal;

    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;

    color: #444;
    border-bottom: 1px solid #d0d0d0;
}

code
{
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;

    display: block;

    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;

    color: #002166;
    border: 1px solid #d0d0d0;
    background-color: #f9f9f9;
}

.ms
{
    font-size: .80em!important;

    margin: 2px;
}
